extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../';

block content
    header.header
        .header__logo-q8.wow.fadeInLeft Q8
        .header__logo-audi.wow.fadeInRight
            img(src="/images/audi-logo.png")

    main.configuracion
        section.configuracion__hero
        
        section.configuracion__content
            .container
                .row
                    .col-24.col-md-16
                        h2.configuracion--paso5__title Selecciona el color del interior
                        .configuracion--paso5__content
                            .configuracion--paso5__container
                                .configuracion--paso5__wrapper
                                    input.configuracion--paso5__input(type="radio" id="radio1" name="radio")
                                    label.configuracion--paso5__label(for="radio1")
                                    .configuracion--paso5__group
                                        p.configuracion--paso5__description
                                            |Beige
                                .configuracion--paso5__image.configuracion--paso5__image--paso5
                                    img(src="/images/configuracion/tapiceria-gris.png")

                            .configuracion--paso5__container
                                .configuracion--paso5__wrapper
                                    input.configuracion--paso5__input(type="radio" id="radio2" name="radio")
                                    label.configuracion--paso5__label(for="radio2")
                                    .configuracion--paso5__group
                                        p.configuracion--paso5__description
                                            |Gris Metrópolis
                                .configuracion--paso5__image.configuracion--paso5__image--paso5
                                    img(src="/images/configuracion/tapiceria-gris.png")

                            .configuracion--paso5__container
                                .configuracion--paso5__wrapper
                                    input.configuracion--paso5__input(type="radio" id="radio3" name="radio")
                                    label.configuracion--paso5__label(for="radio3")
                                    .configuracion--paso5__group
                                          p.configuracion--paso5__description
                                            |Marrón
                                .configuracion--paso5__image.configuracion--paso5__image--paso5
                                    img(src="/images/configuracion/tapiceria-marron.png")

                            .configuracion--paso5__container
                                .configuracion--paso5__wrapper
                                    input.configuracion--paso5__input(type="radio" id="radio4" name="radio")
                                    label.configuracion--paso5__label(for="radio4")
                                    .configuracion--paso5__group
                                          p.configuracion--paso5__description
                                            |Negro
                                .configuracion--paso5__image.configuracion--paso5__image--paso5
                                    img(src="/images/configuracion/tapiceria-negro.png")

                        .configuracion__buttons
                            a.configuracion__button(href="/configuracion/paso6") Continuar
                                span >

                    .col-24.col-md-7.offset-md-1
                        .configuracion__side-module
                            h3.configuracion__side-module__title Tu Audi Q8
                            p.configuracion__side-module__description 55 TFSI
                            .configuracion__side-module__image
                                    img(src="/images/configuracion/version-tfsi.png")
                            .configuracion__side-module__price
                                p Precio
                                span USD 82.946
                            button.configuracion__side-module__button Tu Audi Q8
                            .configuracion__side-module__wrapper
                                a.configuracion__side-module__link(href="#") > Equipamiento en serie
                                a.configuracion__side-module__link(href="#") > Nueva configuración
                                a.configuracion__side-module__link(href="#") > Descargar Ficha Técnica

    footer.footer
        ul.footer__nav
            li
                a(href="#") Condiciones de Uso
            li
                a(href="#") Políticas de privacidad
        
        .footer__copy
            p © 2019. Audi Chile. Todos los derechos reservados