extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../';

block content
    header.header
        .header__logo-q8.wow.fadeInLeft Q8
        .header__logo-audi.wow.fadeInRight
            img(src="/images/audi-logo.png")

    main.configuracion
        section.configuracion__hero
        
        section.configuracion__content
            .container
                .row
                    .col-24
                        h2.configuracion--paso4__title Selecciona tu equipamento
                        .configuracion--paso4__content
                            .configuracion--paso4__container.configuracion--paso4__container--paso4
                                .configuracion--paso4__wrapper
                                    input.configuracion--paso4__input(type="radio" id="radio1" name="radio")
                                    label.configuracion--paso4__label(for="radio1")
                                    .configuracion--paso4__group
                                        p.configuracion--paso4__description
                                            |Cast alloy wheels,
                                            br
                                            |5-segment-spoke
                                            br
                                            |style, 10J x 21
                                .configuracion--paso4__image
                                    img(src="/images/configuracion/equip-rin1.png")
                                p.configuracion--paso4__price
                                    |USD 
                                    span 3.500

                            .configuracion--paso4__container.configuracion--paso4__container--paso4
                                .configuracion--paso4__wrapper
                                    input.configuracion--paso4__input(type="radio" id="radio2" name="radio")
                                    label.configuracion--paso4__label(for="radio2")
                                    .configuracion--paso4__group
                                        p.configuracion--paso4__description
                                            |Llantas de aleación 10J x 21.
                                            br
                                            |Diseño 5 brazos estrella, gris contraste
                                            br
                                            |Neumáticos 285/45 R 21
                                .configuracion--paso4__image
                                    img(src="/images/configuracion/equip-rin2.png")
                                p.configuracion--paso4__price
                                    |USD 
                                    span 3.500

                            .configuracion--paso4__container.configuracion--paso4__container--paso4
                                .configuracion--paso4__wrapper
                                    input.configuracion--paso4__input(type="radio" id="radio3" name="radio")
                                    label.configuracion--paso4__label(for="radio3")
                                    .configuracion--paso4__group
                                          p.configuracion--paso4__description
                                            |Cast alloy wheels,
                                            br
                                            |5-segment-spoke
                                            br
                                            |style, 10J x 21
                                .configuracion--paso4__image
                                    img(src="/images/configuracion/equip-rin1.png")
                                p.configuracion--paso4__price
                                    |USD 
                                    span 3.500

                            .configuracion--paso4__container.configuracion--paso4__container--paso4
                                .configuracion--paso4__wrapper
                                    input.configuracion--paso4__input(type="radio" id="radio4" name="radio")
                                    label.configuracion--paso4__label(for="radio4")
                                    .configuracion--paso4__group
                                          p.configuracion--paso4__description
                                            |Llantas de aleación 10J x 21.
                                            br
                                            |Diseño 5 brazos estrella, gris contraste
                                            br
                                            |Neumáticos 285/45 R 21
                                .configuracion--paso4__image
                                    img(src="/images/configuracion/equip-rin2.png")
                                p.configuracion--paso4__price
                                    |USD 
                                    span 3.500

                        .configuracion__buttons
                            a.configuracion__button(href="/configuracion/paso5") Continuar
                                span >


    footer.footer
        ul.footer__nav
            li
                a(href="#") Condiciones de Uso
            li
                a(href="#") Políticas de privacidad
        
        .footer__copy
            p © 2019. Audi Chile. Todos los derechos reservados